* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f1f1;
}
#page1 {
  background: rgb(255, 235, 233);
  background: linear-gradient(
    90deg,
    rgba(255, 235, 233, 1) 0%,
    rgba(255, 226, 213, 1) 48%,
    rgba(255, 223, 202, 1) 100%
  );
}
nav {
  padding: 1vw 6vw;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5vw;
  border-radius: 20px;
  background-color: white;
}
#left {
  display: flex;
  align-items: center;
}
#right {
  display: flex;
  align-items: center;
}
#right ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2vw;
  padding: 0 1.5vw;
}
#right ul li a {
  color: rgb(106, 106, 106);
  text-decoration: none;
  font-weight: 600;
}
#right ul li a:hover {
  color: black;
  cursor: pointer;
}
#right button {
  border: none;
  font-size: 1.2vw;
  font-weight: 600;
  border-radius: 10px;
  background-color: rgb(243, 127, 45);
  padding: 1vw 2vw;
  margin: 0 1vw;
  color: white;
  cursor: pointer;
}
#right button:hover {
  background-color: rgb(247, 115, 21);
}
#pg1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6vw;
}
#pg1-left {
  width: 50%;
  padding: 2vw;
}
#pg1-left h1 {
  font-size: 4vw;
}
#pg1-left p {
  font-size: 1vw;
  color: grey;
  margin: 1vw 0;
}
#pg1-left button {
  border: none;
  font-size: 1vw;
  font-weight: 600;
  border-radius: 10px;
  background-color: rgb(243, 127, 45);
  padding: 1vw 2vw;
  margin: 3vw 0;
  color: white;
  cursor: pointer;
}
#pg1-right {
  width: 50%;
}
#floating-items {
  position: absolute;
  right: 400px;
  transform: translateY(-50px);
  display: flex;
}
#item1 {
  width: 200px;
  height: 80px;
  background-color: red;
  border-radius: 20px;
  box-shadow: 4px 4px 20px grey;
  display: flex;
  align-items: center;
  padding: 1vw;
  gap: 1vw;
  transform: translate(750px, -300px);
  font-size: 1vw;
}
#item1 img {
  width: 4vw;
  height: auto;
  border-radius: 50%;
}
#item2 {
  width: 300px;
  height: 120px;
  background-color: red;
  border-radius: 20px;
  box-shadow: 4px 4px 20px grey;
  display: flex;
  align-items: center;
  padding: 1vw;
  gap: 1vw;
}
#item2 img {
  width: 5vw;
  height: auto;
  border-radius: 50%;
}
#item3 {
  height: max-content;
  background-color: red;
  border-radius: 200px;
  transform: translate(250px, -100px);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 15px grey;
}
#item3 img {
  width: 8vw;
  height: auto;
  border-radius: 50%;
  border: 15px solid white;
  margin: 1vw;
}
#item3-title {
  font-size: 1.1vw;
  font-weight: 600;
  color: white;
  margin-bottom: 3vw;
}
#pg1-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 53%,
    rgba(255, 143, 118, 1) 100%
  );
}
#bottom-box {
  width: 100%;
  padding: 2vw 9vw;
}
#pg1-bottom-title h5 {
  font-size: 1.2vw;
  padding: 1vw 0;
}
#company-logos {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 2vw;
  padding: 1vw 0;
}
#company-logos img {
  border-radius: 50%;
  box-shadow: 5px 5px 15px rgb(158, 158, 158);
}
#company-logos img:nth-child(1) {
  height: 3vw;
  width: 3vw;
}
#company-logos img:nth-child(2) {
  height: 4vw;
  width: 4vw;
}
#company-logos img:nth-child(3) {
  height: 5vw;
  width: 5vw;
}
#company-logos img:nth-child(4) {
  height: 6vw;
  width: 6vw;
}
#page2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  background-color: white;
}
#pg2-left {
  width: 50%;
  padding: 2vw;
}
#pg-2-box {
  background-color: rgb(255 235 233);
  padding: 2vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.box-card {
  background: rgb(242, 154, 239);
  background: linear-gradient(
    117deg,
    rgba(242, 154, 239, 1) 0%,
    rgba(249, 191, 115, 1) 58%,
    rgba(196, 80, 151, 1) 100%
  );
  padding: 1vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  align-items: center;
  gap: 2vw;
  padding: 1vw;
  background-color: white;
  border-radius: 11px;
}
.card-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-left img {
  width: 7vw;
  height: auto;
  border-radius: 50%;
  margin-left: 1vw;
}
#pg2-right {
  width: 50%;
  padding: 2vw;
  padding-left: 7vw;
}
#pg2-right-top span {
  font-size: 4vw;
  font-weight: 600;
}
#pg2-right-top :nth-child(2) {
  color: rgb(243, 127, 45);
}
#pg2-right-mid {
  margin: 2vw 0;
  color: rgb(125, 125, 125);
}
#pg2-right-bottom button {
  border: none;
  padding: 1vw 3vw;
  border-radius: 8px;
  background-color: rgb(243, 127, 45);
  color: white;
  font-weight: 600;
  margin-top: 1vw;
  cursor: pointer;
}
